<button mat-mini-fab color="warn" class="close-button" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>

<div class="all-container">
  <div class="info-container">
    <h2>
      Crear cuenta
    </h2>
  </div>

  <div class="form-container">
    <form [formGroup]="createForm" (submit)="submit()">
      <div>
        <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
          <mat-label>Correo Electrónico
          </mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <app-form-errors [control]="createForm.controls.email"></app-form-errors>
      </div>

      <div>
        <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
          <mat-label> Contraseña
          </mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <app-form-errors [control]="createForm.controls.password"></app-form-errors>
      </div>

      <div>
        <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
          <mat-label> Confirmar contraseña
          </mat-label>
          <input matInput formControlName="confirmPassword" type="password">
        </mat-form-field>
        <app-form-errors [control]="createForm.controls.confirmPassword"></app-form-errors>
      </div>

      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </div>
</div>