<button mat-mini-fab color="warn" class="close-button" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>

<div class="all-container">
  <div class="info-container">
    <h2>
      Iniciar Sesión
    </h2>
  </div>

  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()">
      <div>
        <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <app-form-errors [control]="loginForm.controls.email"></app-form-errors>
      </div>

      <div>
        <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <app-form-errors [control]="loginForm.controls.password"></app-form-errors>
      </div>




      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </div>