
 <div class=" mb-4">


    <div class="card mb-4 text-center wow fadeIn">

   
      <div class="card-body  text-center" style="background-color: white;">
        <ng-container *ngIf="user">


          <h2>Acerca del usuario</h2>
       
        
          <br>
          
          <div class="photo-left">
            <img class="photo" src="https://images.pexels.com/photos/1804796/pexels-photo-1804796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            <div class="active"></div>
          </div>
          <h4 class="name"> {{user?.nombre}} {{user?.apellidos}}</h4>
          <p class="info">Estudiante</p>
          <p class="info">{{user?.nombre}}</p>
          
          
            <div class="stat mt-2" >
              <p class="number-stat">38</p>
              <p class="desc-stat">Publicaciones</p>
            </div>
       
          <p class="desc">{{user?.descripcion}}</p>
        <!--  <div class="social">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            <i class="fa fa-tumblr-square" aria-hidden="true"></i>
          </div>
      
        -->
  
        </ng-container>
    


        <a target="_blank" href="https://www.uaa.mx/portal/alumnos/tutorias/">Conoce mas de tutorias pares 
          <i class="fas fa-graduation-cap "></i>
        </a>

      </div>
 
    </div>
 
    <!--Card : Dynamic content wrapper-->
    <div class="card mb-4 text-center wow fadeIn">

      <div class="card-header">Que estas pensando?</div>

      <!--Card content-->
      <div class="card-body">
     
        <div class="form-container">
          <form [formGroup]="createPublication" (submit)="createPublication.invalid || submit();">
            <div>
              <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
                <mat-label>Titulo
                </mat-label>
                <input matInput formControlName="titulo" type="text">
              </mat-form-field>
         <app-form-errors [control]="createPublication.controls.titulo"></app-form-errors>
            </div>
      
            <div>
              <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
                <mat-label>Contenido
                </mat-label>
                <input matInput formControlName="texto" type="text">
              </mat-form-field>
          <app-form-errors [control]="createPublication.controls.texto"></app-form-errors>
            </div>
            <div>
              <mat-form-field class="form-field" appearance="outline" style="width: 100%;">
                <mat-label>Descripcion
                </mat-label>
                <input matInput formControlName="descripcion" type="text">
              </mat-form-field>
           <!--   <app-form-errors [control]="createPublication.controls.descripcion"></app-form-errors>-->
            </div>
          
      
            <button mat-raised-button color="primary" type="submit" [disabled]="createPublication.invalid">Publicar</button>
          </form>
        </div>
   

    

      </div>

    </div>
  


    <div class="card mb-4 wow fadeIn">

      <div class="card-header">Asesoras del programa intitucional de Tutoria (PIT)</div>

  
      <div class="card-body">

        <ul class="list-unstyled">
          <li class="media">
            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <a href="">
                <h5 class="mt-0 mb-1 font-weight-bold">Jazmin Vazquez</h5>
              </a>
             Centro de ciencias Agropecuarias,Centro de Ciencias de la Contruccion
            </div>
          </li>
          <li class="media my-4">
            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="An image">
            <div class="media-body">
              <a href="">
                <h5 class="mt-0 mb-1 font-weight-bold">Laura Jimenez</h5>
              </a>
             Centro de Ciencias Basicas
            </div>
          </li>
        
        </ul>

      </div>

    </div>
 

  </div>
