
 <div class=" mb-4">


    <div >

      <!-- Content -->
      <div class="card-body  text-center">

        <h4 class="mb-4">
          <strong>Usuario</strong>sfdsdsfsdsds
          <span >- ¡Bienvenido {{user?.nombre}}!</span>
        </h4>
      
        <p class="mb-4">
          <strong>Usuario nombre</strong>
        </p>
        <a target="_blank" href="https://www.uaa.mx/portal/alumnos/tutorias/">Conoce mas de tutorias pares 
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>

      </div>
 
    </div>
 
    <!--Card : Dynamic content wrapper-->
    <div class="card mb-4 text-center wow fadeIn">

      <div class="card-header">Que estas pensando?</div>

      <!--Card content-->
      <div class="card-body">

        <!-- Default form login -->
        <form>

          <!-- Default input email -->
          <label for="defaultFormEmailEx" class="grey-text">Informacion</label>
          <input type="text" id="defaultFormLoginEmailEx" class="form-control">

          <br>

          
          <div class="text-center mt-4">
            <button class="btn btn-info btn-md" type="submit">Publicar</button>
          </div>
        </form>
        <!-- Default form login -->

      </div>

    </div>
    <!--/.Card : Dynamic content wrapper-->

    <!--Card-->
    <div class="card mb-4 wow fadeIn">

      <div class="card-header">Asesoras del programa intitucional de Tutoria (PIT)</div>

      <!--Card content-->
      <div class="card-body">

        <ul class="list-unstyled">
          <li class="media">
            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
              alt="Generic placeholder image">
            <div class="media-body">
              <a href="">
                <h5 class="mt-0 mb-1 font-weight-bold">Jazmin Vazquez</h5>
              </a>
             Centro de ciencias Agropecuarias,Centro de Ciencias de la Contruccion
            </div>
          </li>
          <li class="media my-4">
            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg" alt="An image">
            <div class="media-body">
              <a href="">
                <h5 class="mt-0 mb-1 font-weight-bold">Laura Jimenez</h5>
              </a>
             Centro de Ciencias Basicas
            </div>
          </li>
        
        </ul>

      </div>

    </div>
    <!--/.Card-->

  </div>
